body{
    background: url("https://png.pngtree.com/background/20211217/original/pngtree-note-music-logo-watercolor-background-picture-image_1589075.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}
h1{
    color: rgb(230, 12, 12)
}
h{
    color:rgb(20, 14, 14)
    heigth
}

h2{
    color: rgb(226, 29, 29);
}
h{
    color: black;
}
img{
       height: 150;
       width: 150;
}
